<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--step 1:configure the routes here-->
  <routes>
    <route>
      <path>/page-jump/page1</path>
      <name>jumpPage1</name>
    </route>
    <route>
      <path>/page-jump/page2</path>
    </route>
    <route>
      <path>/cache-page/page1</path>
      <name>cachePage1</name>
    </route>
    <route cache="true">
      <path>/cache-page/page2</path>
      <name>cachePage2</name>
    </route>
    <route>
      <path>/cache-page/page3</path>
      <name>cachePage3</name>
    </route>
    <route>
      <path>/events/page1</path>
      <name>eventPage1</name>
    </route>
    <route>
      <path>/events/page2</path>
      <name>eventPage2</name>
    </route>
  </routes>
</configuration>