<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <routes enableAuthority="true">
    <route>
      <path>/flowchart/chart1</path>
      <name>flowchart1</name>
      <cache>false</cache>
    </route>
    <route>
      <path>/flowchart/chart2</path>
      <name>flowchart2</name>
      <cache>true</cache>
    </route>
  </routes>
</configuration>